@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #111827;}

header, footer {
  background-color: #fce7f3;
  padding: 1rem;}

main {
  padding: 1rem;}

h1, h2, h3 {
  font-weight: bold;
  color: #1f2937;}

p {
  color: #4B5563;}

a {
  color: #1f2937;
  margin-left: 0.5rem;
  margin-right: 0.5rem;}
a:hover {
  color: #ec4899;
}
a:hover {
  color: #ec4899;}

